/* Global Style */

body {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 1px;
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

html,
body {
    height: 100%
}


/* 反白顏色設定 */

::selection {
    background-color: #1da1f2;
    color: #ffffff;
}

::-moz-selection {
    background-color: #1da1f2;
    color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

a:hover {
    color: #fff;
    text-decoration: none;
}

a:focus {
    outline: none;
    text-decoration: none;
}

p {
    line-height: 32px;
}

ul,
li {
    margin: 0;
    padding: 0;
}

fieldset {
    border: 0 none;
    margin: 0 auto;
    padding: 0;
}

.no-padding {
    padding: 0
}

.section-space-padding {
    padding: 100px 0px;
}

.section-title {
    text-align: center;
}

.section-title h2 {
    margin-top: 0;
    font-weight: 600;
    border: 3px solid #000;
    border-radius: 50px;
    font-size: 30px;
    margin: 0 auto;
    padding: 10px 0;
    width: 350px;
    margin-bottom: 30px;
}

.section-title p {
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 40px;
}

.bg-cover {
    background-repeat: no-repeat;
}

.grabbing {
    cursor: url(../images/owl-carousel/grabbing.png) 8 8, move;
}

.button {
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 25px 80px;
    display: inline-block;
    margin: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.button:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.button:before {
    font-family: 'FontAwesome';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    position: relative;
    -webkit-font-smoothing: antialiased;
}

.button-style {
    border-radius: 50px;
    border: 3px solid #fff;
    color: #fff;
    overflow: hidden;
}

.button-style:hover,
.button-style:active,
.button-style:focus {
    background: #1ab7ea;
    color: #ffffff !important;
}

.button-style:before {
    position: absolute;
    height: 100%;
    font-size: 125%;
    line-height: 3.5;
    color: #fff;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.button-style:active:before {
    color: #1da1f2;
}

.button-style-icon:before {
    left: 130%;
    top: -2px;
}

.button-style-icon:hover:before {
    left: 80%;
}

.button-style-dark {
    border: 3px solid #000000 !important;
    color: #000000;
}


/* Preloader */

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #ffffff;
    z-index: 999;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
}

.loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 6px solid #1da1f2;
    border-right-color: transparent;
    border-left-color: transparent;
    animation: spin 1s linear infinite;
    -webkit-animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
    /* Safari 4.0 - 8.0 */
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.loading {
    display: block;
    position: relative;
    font-size: 25px;
    left: 50%;
    top: 70%;
    width: 150px;
    height: 150px;
    text-align: center;
    margin: -75px 0 0 -75px;
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

body.loaded #preloader {
    /* 設置元素的不透明級別 0~1 */
    opacity: 0;
    visibility: hidden;
}


/* Home Section and Navigation Menu */

.home-section {
    height: 100%;
}

.home-section-background {
    position: relative;
    height: 100%;
    background-image: url('../images/bg/bg2.jpg');
    background-size: cover;
    z-index: 1;
}

.home-section-background:after {
    position: absolute;
    /* 0.0 ~ 1.0  0 →完全透明， 1 →完全不透明 */
    background: rgba(0, 0, 0, 0.4);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    z-index: -1;
}

.display-table {
    display: table;
    width: 100%;
    height: 100%;
}

.display-table-cell {
    display: table-cell;
    /* 圖片在垂直方向的對齊方式 */
    vertical-align: middle;
}

.header-text {}

.home-section-background h2 {
    color: #f8f8f8;
    font-size: 50px;
    letter-spacing: 5px;
    margin: 0;
}

.home-section-background p {
    color: #f8f8f8;
    letter-spacing: 4px;
    font-size: 15px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.typed-cursor {
    /* 設定結尾閃爍輸入符號 */
    /* 設置元素的不透明級別 0~1 */
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.header-top-area {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

.logo {
    padding-top: 28px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.logo a {
    display: block;
    color: #fff;
    text-transform: uppercase;
    /* 屬性增加或減少字符間的空白 */
    letter-spacing: 6px;
    font-weight: 900;
    font-size: 14px;
}

.navigation-menu .navbar-nav li a {
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    padding: 30px 15px;
    -webkit-transition: .3s;
    transition: .3s;
    font-weight: 600;
}

.navigation-menu .navbar-nav li a:hover {
    background: none;
    color: #fff;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.nav li a:focus,
.nav li a:hover {
    background: none;
    color: #fff;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.navbar {
    margin: 0;
}

.navigation-background {
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    background: #000;
}

.navigation-background .logo {
    padding-top: 18px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.navigation-background .navigation-menu .navbar-nav li a {
    color: #fff;
    padding: 20px 15px;
    -webkit-transition: .3s;
    transition: .3s;
}

.navigation-background .navigation-menu .navbar-nav li a:hover {
    color: #fff;
}


/* About Me */

.about-section {
    overflow: hidden;
    background-color: #ffffff;
}

.about-section img {
    position: absolute;
}

.about-me {}

.about-me h2 {
    padding: 0px 50px;
}

.about-me p {
    padding: 0px 50px 50px 50px;
    font-size: 15px;
}

.about-me h3 {
    padding-top: 0px;
    padding-left: 50px;
}

.about-me hr {
    /* 底線 */
    border-bottom: 2px solid #1da1f2;
    width: 62px;
    margin-left: 50px;
}


/* Abilities */

.abilities-section {
    background-color: #F9F9F9;
}

.abilities-section hr {
    /* 底線 */
    border-bottom: 2px solid #1da1f2;
    width: 42px;
    margin-left: 0px;
}

.abilities-section .abilities-detail {
    border-radius: 4px;
    /* 元素的右下角添加圓角邊框 */
    border-bottom-right-radius: 20%;
    background-color: #ffffff;
    box-shadow: 0px 1px 2px 0px rgba(90, 91, 95, 0.15);
    transition: all 0.3s ease-in-out;
    position: relative;
    top: 0px;
    padding: 60px 40px 60px 40px;
    margin-top: 32px;
    min-height: 400px;
}

.abilities-section .abilities-detail:hover {
    border-bottom-right-radius: 4px;
    box-shadow: 0px 16px 22px 0px rgba(90, 91, 95, 0.3);
    top: -5px;
}

.abilities-section .abilities-detail .fa {
    font-size: 42px;
}


/* History */

.history {
    width: 100%;
    background-color: #ffffff;
}

.timeline {
    list-style: none;
    padding: 0;
    position: relative
}

.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: "";
    width: 2px;
    background-color: #f1f1f1;
    left: 40px;
    margin-left: -1.5px
}

.timeline>li {
    margin-bottom: 50px;
    position: relative;
    min-height: 50px
}

.timeline>li:after,
.timeline>li:before {
    content: " ";
    display: table
}

.timeline>li:after {
    clear: both
}

.timeline>li .timeline-panel {
    width: 100%;
    float: right;
    padding: 0 20px 0 100px;
    position: relative;
    text-align: left
}

.timeline>li .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto
}

.timeline>li .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto
}

.timeline>li .timeline-image {
    left: 0;
    margin-left: 0;
    width: 80px;
    height: 80px;
    position: absolute;
    z-index: 100;
    background-color: #fff;
    color: #1da1f2;
    border-radius: 100%;
    border: 7px solid #fff;
    text-align: center
}

.timeline>li .timeline-image h4 {
    font-size: 10px;
    margin-top: 12px;
    line-height: 14px
}

.timeline>li.timeline-inverted>.timeline-panel {
    float: right;
    text-align: left;
    padding: 0 20px 0 100px
}

.timeline>li.timeline-inverted>.timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto
}

.timeline>li.timeline-inverted>.timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto
}

.timeline>li:last-child {
    margin-bottom: 0
}

.timeline ul.timeline-heading h4 {
    margin-top: 0;
    color: inherit
}

.timeline ul.timeline-heading h4.subheading {
    text-transform: none
}

.timeline .timeline-body>p,
.timeline .timeline-body>ul {
    margin-bottom: 0
}

.slideanim {
    /* 圖片滑入效果 */
    visibility: hidden;
}

.slide {
    /* The name of the animation */
    animation-name: slide;
    -webkit-animation-name: slide;
    /* The duration of the animation */
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    /* Make the element visible */
    visibility: visible;
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}


/* WorksDisplay */

.workdisplay-section {
    background: #F9F9F9;
}

.work-accordion {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: default;
}

.work-accordion a {
    cursor: default;
}

.accordion ul li div a p {
    white-space: pre-wrap;
}


/* Statistics */

.statistics-section {
    position: relative;
    /*background: url(../images/bg/statistics.jpg);*/
    background-color: #1da1f2;
    background-size: cover;
    z-index: 1;
}

.statistics {
    margin: 25px 0;
    overflow: hidden;
    color: #ffffff;
}

.statistics.block .statistics-icon,
.statistics.block .statistics-content {
    width: auto;
    float: none;
    text-align: center;
}

.statistics-icon {
    width: 30%;
    text-align: center;
    margin-right: 5%;
    float: left;
    font-size: 50px;
}

.statistics-content {
    float: left;
    width: 65%;
    text-align: left;
}

.statistics-content>h5 {
    font-size: 34px;
    margin-top: 0;
}

.statistics-content>span {
    display: block;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 1px;
}


/* Contact Us */

.contact-us {
    background-color: #f9f9f9;
}

.contact-us-detail {}

.contact-us-detail i {
    font-size: 30px;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0px 1px 2px 0px rgba(90, 91, 95, 0.15);
    transition: all 0.3s ease-in-out;
    width: 88px;
    height: 88px;
    line-height: 88px;
}

.contact-us-detail:hover i {
    box-shadow: 0px 8px 15px 0px rgba(90, 91, 95, 0.33);
    margin-top: -5px;
}

.contact-us-detail a {
    color: #333;
}

.contact-us-detail a:hover {
    color: #333;
}


/* Social Icons */

.social-icon {
    list-style: none;
    padding-left: 0;
    margin: 0;
    text-align: center;
}

.social-icon:before,
.social-icon:after {
    content: " ";
    display: table;
}

.social-icon:after {
    clear: both;
}

.social-icon li {
    display: inline-block;
    margin: 0px 4px;
}

.social-icon li a {
    display: block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    color: #fff;
    text-align: center;
    border: 0 none;
    border-radius: 4px;
    font-size: 30px;
    box-shadow: 0px 1px 2px 0px rgba(90, 91, 95, 0.15);
    transition: all 0.3s ease-in-out;
}

.social-icon li a:hover {
    box-shadow: 0px 8px 15px 0px rgba(90, 91, 95, 0.33);
}

.social-icon li a .fa {
    line-height: inherit;
}

.facebook {
    background-color: #3b5998;
}

.twitter {
    background-color: #1da1f2;
}

.google-plus {
    background-color: #dd4b39;
}

.instagram {
    background-color: #ea4c89;
}

.linkedin {
    background-color: #0077b5;
}

.pinterest {
    background-color: #bd081c;
}

.youtube {
    background-color: #cd201f;
}

.vimeo {
    background-color: #1ab7ea;
}

.dribbble {
    background-color: #ea4c89;
}

.behance {
    background-color: #1769ff;
}

.flickr {
    background-color: #ff0084;
}

.tumblr {
    background-color: #35465c;
}

.foursquare {
    background-color: #f94877;
}

.github {
    background-color: #333333;
}

.skype {
    background-color: #00aff0;
}


/* Footer */

.footer-section {
    background: #000;
    padding: 80px 0px;
    color: #f8f8f8;
}

.footer-section p {
    font-size: 14px;
}

.footer-section a {
    color: #ffffff;
}


/* Responsive */

@media only screen and (min-width: 767px) and (max-width: 991px) {
    .navigation-menu .navbar-nav li a {
        padding: 30px 11px;
        font-size: 12px;
    }
    .navigation-background .navigation-menu .navbar-nav li a {
        padding: 30px 11px;
        font-size: 12px;
    }
    .navigation-background .logo {
        padding-top: 28px;
    }
}

@media only screen and (max-width: 991px) {
    .about-section img {
        position: inherit;
    }
    .call-to-action h2 {
        font-size: 20px;
    }
    .space-set {
        margin-top: 80px;
    }
    .footer-section p {
        text-align: center !important;
    }
}

@media only screen and (max-width: 767px) {
    .navbar-toggle .icon-bar {
        background: #f8f8f8;
    }
    .navigation-background .navbar-toggle .icon-bar {
        background: #fff;
    }
    .navbar-toggle {
        margin-right: 0px;
        margin-top: -30px;
    }
    .navbar {
        min-height: 0px;
    }
    .navigation-menu .navbar-nav li a {
        padding: 11px 15px;
    }
    .navigation-menu .navbar-nav li a:hover {
        color: #24b662;
    }
    .navigation-background .navigation-menu .navbar-nav li a:hover {
        color: #24b662;
    }
    .navigation-background .navigation-menu .navbar-nav li a {
        padding: 11px 15px;
    }
    .navbar-fixed-bottom .navbar-collapse,
    .navbar-fixed-top .navbar-collapse {
        max-height: 420px;
    }
    .navbar-toggle {
        margin-top: -30px;
    }
    .navbar-collapse {
        background: rgba(0, 0, 0, .9);
    }
    .navigation-background .navbar-collapse {
        background: rgba(0, 0, 0, .9);
    }
    .home-section-background {
        padding-top: 120px;
    }
    .home-section-background h2 {
        font-size: 22px;
    }
    .section-title h2 {
        font-size: 22px;
    }
    .testimonial-word {
        padding: 0;
    }
    .testimonial-carousel-list {
        margin-top: 0px;
    }
    .statistics-center {
        margin-left: 20%;
    }
    .call-to-action h2 {
        font-size: 18px;
        line-height: 35px;
    }
    .contact-us-detail {
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 555px) {
    .social-icon li a {
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 20px;
    }
    .section-title h2 {
        font-size: 16px;
    }
    .section-title h2 {
        font-weight: 500;
        width: 200px;
    }
    .section-title p {
        font-weight: 300;
        font-size: 12px;
    }
    .home-section-background h2 {
        font-size: 18px;
    }
    .home-section-background p {
        font-size: 12px;
    }
}

@media only screen and (max-width: 449px) {
    .button {
        padding: 15px 30px;
        font-weight: 600;
        font-size: 10px;
    }
    .button-style:before {
        display: none;
    }
}

@media (min-width:768px) {
    .timeline:before {
        left: 50%
    }
    .timeline>li {
        min-height: 100px
    }
    .timeline>li .timeline-panel {
        width: 41%;
        float: left;
        padding: 0 20px 20px 30px;
        text-align: right
    }
    .timeline>li .timeline-image {
        width: 100px;
        height: 100px;
        left: 50%;
        margin-left: -50px
    }
    .timeline>li .timeline-image h4 {
        font-size: 13px;
        margin-top: 16px;
        line-height: 18px
    }
    .timeline>li.timeline-inverted>.timeline-panel {
        float: right;
        text-align: left;
        padding: 0 30px 20px 20px
    }
}

@media (min-width:992px) {
    .timeline>li {
        min-height: 150px
    }
    .timeline>li .timeline-panel {
        padding: 0 20px 20px
    }
    .timeline>li .timeline-image {
        width: 150px;
        height: 150px;
        margin-left: -75px
    }
    .timeline>li .timeline-image h4 {
        font-size: 18px;
        margin-top: 30px;
        line-height: 26px
    }
    .timeline>li.timeline-inverted>.timeline-panel {
        padding: 0 20px 20px
    }
}

@media (min-width:1200px) {
    .timeline>li {
        min-height: 170px
    }
    .timeline>li .timeline-panel {
        padding: 0 20px 20px 100px
    }
    .timeline>li .timeline-image {
        width: 170px;
        height: 170px;
        margin-left: -85px
    }
    .timeline>li .timeline-image h4 {
        margin-top: 40px
    }
    .timeline>li.timeline-inverted>.timeline-panel {
        padding: 0 100px 20px 20px
    }
}


/* Scroll To Top */

.scroll-to-top {
    background-color: #00aff0;
    display: none;
    width: 50px;
    height: 50px;
    font-size: 25px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    position: fixed;
    right: 0px;
    bottom: 50px;
    z-index: 999;
}

.scroll-to-top:hover,
.scroll-to-top:focus {
    background-color: #1da1f2;
    color: #ffffff;
}


/* Useful Classes */


/* Spacing ( with Margin and Padding ) */


/* Margin */

.margin-0 {
    margin: 0px !important;
}


/* Margin Top */

.margin-top-0 {
    margin-top: 0px !important;
}

.margin-top-10 {
    margin-top: 10px !important;
}

.margin-top-20 {
    margin-top: 20px !important;
}

.margin-top-30 {
    margin-top: 30px !important;
}

.margin-top-40 {
    margin-top: 40px !important;
}

.margin-top-50 {
    margin-top: 50px !important;
}

.margin-top-60 {
    margin-top: 60px !important;
}

.margin-top-70 {
    margin-top: 70px !important;
}

.margin-top-80 {
    margin-top: 80px !important;
}

.margin-top-90 {
    margin-top: 90px !important;
}

.margin-top-100 {
    margin-top: 100px !important;
}

.margin-top-120 {
    margin-top: 120px !important;
}

.margin-top-150 {
    margin-top: 150px !important;
}

.margin-top-200 {
    margin-top: 200px !important;
}


/* Margin Bottom */

.margin-bottom-0 {
    margin-bottom: 0px !important;
}

.margin-bottom-10 {
    margin-bottom: 10px !important;
}

.margin-bottom-20 {
    margin-bottom: 20px !important;
}

.margin-bottom-30 {
    margin-bottom: 30px !important;
}

.margin-bottom-40 {
    margin-bottom: 40px !important;
}

.margin-bottom-50 {
    margin-bottom: 50px !important;
}

.margin-bottom-60 {
    margin-bottom: 60px !important;
}

.margin-bottom-70 {
    margin-bottom: 70px !important;
}

.margin-bottom-80 {
    margin-bottom: 80px !important;
}

.margin-bottom-90 {
    margin-bottom: 90px !important;
}

.margin-bottom-100 {
    margin-bottom: 100px !important;
}

.margin-bottom-120 {
    margin-bottom: 120px !important;
}

.margin-bottom-150 {
    margin-bottom: 150px !important;
}

.margin-bottom-200 {
    margin-bottom: 200px !important;
}


/* Padding */

.padding-0 {
    padding: 0px !important;
}


/* Padding Top */

.padding-top-0 {
    padding-top: 0px !important;
}

.padding-top-10 {
    padding-top: 10px !important;
}

.padding-top-20 {
    padding-top: 20px !important;
}

.padding-top-30 {
    padding-top: 30px !important;
}

.padding-top-40 {
    padding-top: 40px !important;
}

.padding-top-50 {
    padding-top: 50px !important;
}

.padding-top-60 {
    padding-top: 60px !important;
}

.padding-top-70 {
    padding-top: 70px !important;
}

.padding-top-80 {
    padding-top: 80px !important;
}

.padding-top-90 {
    padding-top: 90px !important;
}

.padding-top-100 {
    padding-top: 100px !important;
}

.padding-top-120 {
    padding-top: 120px !important;
}

.padding-top-150 {
    padding-top: 150px !important;
}

.padding-top-200 {
    padding-top: 200px !important;
}


/* Padding Bottom */

.padding-bottom-0 {
    padding-bottom: 0px !important;
}

.padding-bottom-10 {
    padding-bottom: 10px !important;
}

.padding-bottom-20 {
    padding-bottom: 20px !important;
}

.padding-bottom-30 {
    padding-bottom: 30px !important;
}

.padding-bottom-40 {
    padding-bottom: 40px !important;
}

.padding-bottom-50 {
    padding-bottom: 50px !important;
}

.padding-bottom-60 {
    padding-bottom: 60px !important;
}

.padding-bottom-70 {
    padding-bottom: 70px !important;
}

.padding-bottom-80 {
    padding-bottom: 80px !important;
}

.padding-bottom-90 {
    padding-bottom: 90px !important;
}

.padding-bottom-100 {
    padding-bottom: 100px !important;
}

.padding-bottom-120 {
    padding-bottom: 120px !important;
}

.padding-bottom-150 {
    padding-bottom: 150px !important;
}

.padding-bottom-200 {
    padding-bottom: 200px !important;
}


/* Colors */

.color-1 {
    color: #f306a0;
}

.color-2 {
    color: #d60bfb;
}

.color-3 {
    color: #d8be10;
}

.color-4 {
    color: #0fd28a;
}

.color-5 {
    color: #f97400;
}

.color-6 {
    color: #08a6f3;
}


/* Background Color */

.bg-color-1 {
    background-color: #f306a0;
}

.bg-color-2 {
    background-color: #d60bfb;
}

.bg-color-3 {
    background-color: #d8be10;
}

.bg-color-4 {
    background-color: #0fd28a;
}

.bg-color-5 {
    background-color: #f97400;
}

.bg-color-6 {
    background-color: #08a6f3;
}


/* UiPasta Credit */

.uipasta-credit {}

.uipasta-credit a {
    color: #1da1f2;
    font-weight: 600;
}

.uipasta-credit a:hover {
    color: #ffffff;
}


/**/